@model BlogStore.Models.UserLoginViewModel

@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<form  method="post">
    
    <div class="container">
        <br/>
        <label>Kullanıcı Adınız</label>
        <input type="text"  name="Username" asp-for="Username" class="form-control"/>
        <br/>
        <label>Şifreniz</label>
        <input type="text" name="Password"  asp-for="Password" class="form-control" />
        <br/>
       
        <button class="btn btn-primary">Giriş Yap</button>

    </div>
</form>