
@{
    ViewData["Title"] = "GetProfile";
    Layout = "~/Views/Shared/Components/_AuthorLayout.cshtml";
}

<h1>Profil Bilgilerim</h1>
<h3>Hoş Geldiniz @ViewBag.name @ViewBag.surname</h3>
<h4>ID: @ViewBag.id</h4>

